[build]
  publish = "fart-detective"
  command = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/service-worker.js"
  [headers.values]
    cache-control = "no-cache"

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
